<VirtualHost *:80>
  ServerName {{ pterodactyl_panel_domain }}
  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ pterodactyl_panel_domain }}
  DocumentRoot "{{ pterodactyl_panel_webroot }}/public"
  AllowEncodedSlashes On
  php_value upload_max_filesize {{ pterodactyl_panel_upload_limit }}
  php_value post_max_size {{ pterodactyl_panel_upload_limit }}
  <Directory "{{ pterodactyl_panel_webroot }}/public">
    AllowOverride all
  </Directory>

  SSLEngine on
{% if pterodactyl_panel_ssl_mode == "dehydrated" %}
    SSLCertificateFile {{ pterodactyl_panel_dehydrated_ssl_cert }}
    SSLCertificateKeyFile {{ pterodactyl_panel_dehydrated_ssl_key }}
    Alias /.well-known/acme-challenge {{dehydrated_wellknown}}
    <Directory {{dehydrated_wellknown}}>
      Options None
      AllowOverride None
      # Apache 2.x
      <IfModule !mod_authz_core.c>
              Order allow,deny
              Allow from all
      </IfModule>
      # Apache 2.4
      <IfModule mod_authz_core.c>
              Require all granted
      </IfModule>
    </Directory>
{% else %}
    SSLCertificateFile {{ pterodactyl_panel_ssl_cert }}
    SSLCertificateKeyFile {{ pterodactyl_panel_ssl_key }}
{% endif %}
</VirtualHost>
