server {
	listen 80;
	listen [::]:80;

    server_name {{ pterodactyl_panel_domain }} ;

	root {{ pterodactyl_panel_webroot }}/public ;

    index index.php;

    access_log /var/log/nginx/pterodactly_client-access.log;
    
    ssl_certificate_key {{ pterodactyl_panel_ssl_key }};
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location ~ \.php$ {
        try_files $uri =404;
        # TODO : detect || variabalise fpm socket path
        fastcgi_pass unix:/var/run/php/php8.3-fpm.sock; # Warning : only the version as group & sticky bit that fit...
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}